*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/sample-mpp/web/build/

## User settings
**/xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
